.App {
  box-sizing: border-box;
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  margin: 0;
  padding: 20px;
}

@media screen and (max-width: 415px) {
  .App {
    padding: 25px
  }
}